@use '../../style' as s;

main {
	padding: s.space(4);
}

.page {
	border: 1px solid #000;
	border-radius: 12px;
	padding: 14px;
	width: 350px;
	display: grid;
	gap: 14px;
    height: 500px;
}

.auth {
	font-weight: 700;
	font-size: 24px;
}

.page-divider {
	border: 1px solid rgba(230, 230, 230, 1);
}

.section {
   display: grid;
   gap: 14px;
}

.error {
	font-size: 14px;
	padding: 10px;
	border: 1px solid rgba(251, 96, 97, 1);
	color: rgba(251, 96, 97, 1);
	border-radius: 12px;
}

.item {
	display: grid;
	gap: 8px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 12px;
	&__item {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
	&__error {
		color: red;
	    font-size: 12px;
        display: none;
	}
	
	&--active {
		display: block;
	}
}

.alert {
	border: 1px solid transparent;
	border-radius: 10px;
	padding: s.space(3) s.space(4);
	font-size: 14px;
  
	&--success {
	  border-color: green;
	  color: green;
	}
  
	&--error {
	  border-color: red;
	  color: red;
	}
  
	&--progress {
	  border-color: blue;
	  color: blue;
	}
  
	&--disabled {
	  display: none;
	}
}

.validation {
	&--active {
	  border-color: s.color(red) !important;
	}
}

.user {
	display: flex;
	flex-direction: column;
	gap: 16px;
	text-decoration: none;

	&--click {
      @include s.click;
	  text-decoration: none;
	}

	&__title {
       font-size: 16px;
	   height: 16px;
	   color: rgba(54, 54, 54, 1);
	}

	&__sub {
       font-size: 14px;
	   height: 14px;
	   color: rgba(136, 136, 136, 1);
	}
}

.link-prefix {
    font-size: 14px;
    color: rgba(136, 136, 136, 1);
}

.link {
    font-size: 14px;
    color: rgba(244, 111, 23, 1);
    @include s.click;
}

.skeleton {
	animation: skeleton animation is alternate;
}

@keyframes skeleton-animatiom {
	from {
		background-color: rgba(0, 0, 0, 0.05);
	}

	to {
		background-color: rgba(0, 0, 0, 0.15);
	}
}

.page-section {
	display: grid;
	gap: 24px;
}


