<main>
    <div class="page">
       <div class="form">
          {{> back-button}}
          <div class="auth">Список користувачів</div>
          <div class="page-divider"></div>
          <span class="alert alert--success">Внимание, ошибка!</span>
          <div class="page-section" id="user-list">
              <a href="#" class="user user--click">
                <span class="user__title">test@mail.com</span>
                <span class="user__sub">Адміністратор</span>
              </a>
              <a href="#" class="user user--click">
                <span class="user__title">test@mail.com</span>
                <span class="user__sub">Адміністратор</span>
              </a>
              <a href="#" class="user user--click">
                <span class="user__title skeleton">test@mail.com</span>
                <span class="user__sub skeleton">Адміністратор</span>
              </a>
          </div>
       </div>
    </div>
</main>