.select {
    background: rgba(247, 247, 247, 1);
    padding: 12px;
    border-radius: 12px;
    font-size: 14px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.field-select {
    display: grid;
    gap: 12px;
}

.field-icon {
    background-image: url('/svg/arrow.svg');
    width: 20px;
    height: 20px;
}