.text {
    border: 1px solid rgba(247, 247, 247, 1);
    border-radius: 12px;
    padding: 12px;
    display: flex;
    gap: 8px;
}

.description {
    font-size: 14px;
}

.icon-span {
    background-image: url('/svg/icon-cube.svg');
    width: 15px;
    height: 15px;
    background-size: cover;
}