<div class="text field__checkbox">
    <button onclick="fieldCheckbox.toggle(this);{{action}}('{{name}}', this.hasAttribute('atribute'))" type="button" class="right validation" name="{{name}}">
        <span class="icon-span"></span>
        <span class="description">{{label}}</span>
    </button>
</div>