<div class="text">
    <button onclick="fieldCheckbox.toggle(this);{{action}}('{{name}}', this.hasAttribute('atribute'))" type="button" class="right">
        <button class="icon-span"></button>
        <span class="description">{{label}}</span>
    </button>
</div>