{{!
Це код container файлу для index сторінки,
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/"
}}

<main>
    <div class="page">
       <form action="" class="section">
          <button class="button"></button>
          <div class="auth">Реєстрація</div>
          <div class="test">test</div>
          <button class="sign">Зареєструватися</button>
          <span class="error">Внимание, ошибка!</span>
       </form>
    </div>
</main>

{{!
    Цей код містить лише те, що буде виводитись в <body>
    Адже наш layout/default.hbs має вже структуру HTML
}}