<main>
    <div class="page">
       <div class="form">
          {{> back-button}}
          <div class="auth">Інформація про користувача</div>
          <div class="page-divider"></div>
          <div class="page__section" id="user-item"></div>
       </div>
    </div>
</main>