@use '../../style' as s;

main {
	padding: s.space(4);
}

.page {
	border: 1px solid #000;
	border-radius: 12px;
	padding: 14px;
	width: 400px;
	display: grid;
	gap: 14px;
    height: 500px;
}

.auth {
	font-weight: 700;
	font-size: 24px;
}

.page-divider {
	border: 1px solid rgba(230, 230, 230, 1);
}

.section {
   display: grid;
   gap: 14px;
}

.error {
	font-size: 14px;
	padding: 10px;
	border: 1px solid rgba(251, 96, 97, 1);
	color: rgba(251, 96, 97, 1);
	border-radius: 12px;
}

.item {
	display: grid;
	gap: 8px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 12px;
	&__item {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
	&__error {
		color: red;
	    font-size: 12px;
        display: none;
	}
	
	&--active {
		display: block;
	}
}

.alert {
	border: 1px solid transparent;
	border-radius: 10px;
	padding: s.space(3) s.space(4);
	font-size: 14px;
  
	&--success {
	  border-color: green;
	  color: green;
	}
  
	&--error {
	  border-color: red;
	  color: red;
	}
  
	&--progress {
	  border-color: blue;
	  color: blue;
	}
  
	&--disabled {
	  display: none;
	}
}

.validation {
	&--active {
	  border-color: s.color(red) !important;
	}
}