@use '../../style' as s;

// @use './space.scss';
// @forward './space.scss';

// @use './var.scss';
// @forward './var.scss';

// @use './click.scss';
// @forward './click.scss';

main {
	padding: s.space(4);
}

.page {
	border: 1px solid #000;
	border-radius: 12px;
	padding: 14px;
	width: 350px;
	display: grid;
	gap: 14px;
}

.picture {
	width: 100px;
	height: 100px;
}

.auth {
	font-weight: 700;
	font-size: 24px;
}

.sign {
	background: rgba(244, 111, 23, 1);
	color: #fff;
	padding: 12px;
	border-radius: 12px;
	transition: opacity 0.7s;
}

.sign:hover {
	opacity: 0.7;
}

.section {
   display: grid;
   gap: 14px;
}

.error {
	font-size: 14px;
	padding: 10px;
	border: 1px solid rgba(251, 96, 97, 1);
	color: rgba(251, 96, 97, 1);
	border-radius: 12px;
}
